<p>
  <a href="/restaurants">See All Restaurants</a>
  <a href="/users">See All Users</a>
  <a href="/restaurants/new">Add a Restaurant</a>
</p>
<h2>Add User</h2>
<form method="POST" action="/users">
  <p>Name: <input type="text" name="name"></p>
  <input type="submit" value="Submit User">
</form>