<p>
  <a href="/restaurants">See All Restaurants</a>
  <a href="/users">See All Users</a>
  <a href="/users/new">Add a User</a>
</p>

<h2>Add User</h2>
<form method="POST" action="/restaurants">
  <p>Name: <input type="text" name="name"></p>
  <p>Rating: <input type="number" name="rating" max="5" min="1"></p>
  <p>Address: <input type="text" name="address"></p>
  <input type="submit" value="Submit Restaurant">
</form>